<div><%= t('experiments.type_scene_with_questionaires') %></div>


<h6><%= t('experiments.scene_informations') %></h6>

<div style="display:table:">
    <div style="display:table-row;">
	<div class="tablecell"><%= t('experiments.scene_name') %></div>
	<div class="tablecell"><%= t('experiments.scene_url') %></div>
	<div class="tablecell"><%= t('experiments.seen_by') %></div>
	<div class="tablecell"><%= t('experiments.seen_by_percent') %></div>
	<div class="tablecell"><%= t('experiments.min_clicks') %></div>
	<div class="tablecell"><%= t('experiments.max_clicks') %></div>
	<div class="tablecell"><%= t('experiments.avg_clicks') %></div>
	<div class="tablecell"><%= t('experiments.min_time_mousedown') %></div>
	<div class="tablecell"><%= t('experiments.max_time_mousedown') %></div>
	<div class="tablecell"><%= t('experiments.avg_time_mousedown') %></div>
  </div>

  <% for scene_result in step_result[:result][:scenes] %>
  <div style="display:table-row;">
	 <div class="tablecell"><%= scene_result[:scene_name] %></div>
	 <div class="tablecell"><%= scene_result[:scene_url] %></div>
	 <div class="tablecell"><%= scene_result[:viewed_by_number_of_participants] %></div>
	 <div class="tablecell"><%= scene_result[:viewed_by_percentage_of_participants] %></div>
	 <div class="tablecell"><%= scene_result[:min_number_mouseclicks] %></div>
	 <div class="tablecell"><%= scene_result[:max_number_mouseclicks] %></div>
	 <div class="tablecell"><%= scene_result[:avg_number_mouseclicks] %></div>
	 <div class="tablecell"><%= scene_result[:min_time_mouse_down] %></div>
	 <div class="tablecell"><%= scene_result[:max_time_mouse_down] %></div>
	 <div class="tablecell"><%= scene_result[:avg_time_mouse_down] %></div>
  </div>
  <% end %>
  <% sum_result = step_result[:sum_result][:scenes] %>
  <div style="display:table-row;margin-top:5pt;font-weight:bold;">
      <div class="tablecell"><%= t('experiments.general') %></div>
	 <div class="tablecell"></div>
	 <div class="tablecell"></div>
	 <div class="tablecell"><%= sum_result[:sum_participants] %></div>
	 <div class="tablecell"><%= sum_result[:min_number_mouseclicks] %></div>
	 <div class="tablecell"><%= sum_result[:max_number_mouseclicks] %></div>
	 <div class="tablecell"><%= sum_result[:avg_number_mouseclicks] %></div>
	 <div class="tablecell"><%= sum_result[:min_time_mouse_down] %></div>
	 <div class="tablecell"><%= sum_result[:max_time_mouse_down] %></div>
	 <div class="tablecell"><%= sum_result[:avg_time_mouse_down] %></div>
  </div>
  
</div>


<h6><%= t('layout.questions') %></h6>

<% for question_result in step_result[:result][:questions] %>
    <% has_correct_answer = question_result[:question_has_correct_answer]%>
    <h4><%= t('experiments.question') %> <%= question_result[:question_id] %></h4>

    <div><%= t('experiments.question_text') %>: <%= question_result[:question_text] %></div>


    <table>
        <tr>
	    <th rowspan="3"><%= t('scenes.scene') %></th>
	    <% if has_correct_answer %>
	        <th colspan="3"><%= t('experiments.answered') %></th>
	    <% else %>
	        <th><%= t('experiments.answered') %></th>
	    <% end %>
	    <% if has_correct_answer %>
	        <th colspan="9"><%= t('experiments.answer_time') %></th>
	        <th colspan="6"><%= t('experiments.error_count') %></th>
	    <% else %>
	        <th colspan="3"><%= t('experiments.answer_time') %></th>
	    <% end %>
	    
        </tr>
        <tr>

	    <th rowspan="2"><%= t('experiments.count') %></th>
	    <% if has_correct_answer %>
	        <th rowspan="2"><%= t('experiments.correct') %> %</th>
	        <th rowspan="2"><%= t('experiments.incorrect') %> %</th>
	    <% end %>
	    <th colspan="3"><%= t('experiments.total') %></th>
	    <% if has_correct_answer %>
	        <th colspan="3"><%= t('experiments.correct_answer') %></th>
	        <th colspan="3"><%= t('experiments.wrong_answer') %></th>
	        <th colspan="3"><%= t('experiments.total') %></th>
	        <th colspan="3"><%= t('experiments.correct_answer') %></th>
	 <% end %>
  </tr>
  <tr>
	 <th>min</th>
	 <th>max</th>
	 <th>avg</th>
	 <% if has_correct_answer %>
	 <th>min</th>
	 <th>max</th>
	 <th>avg</th>
	 <th>min</th>
	 <th>max</th>
	 <th>avg</th>
	 <th>min</th>
	 <th>max</th>
	 <th>avg</th>
	 <th>min</th>
	 <th>max</th>
	 <th>avg</th>
	 <% end %>
  </tr>


  <% for question_result_per_scene_key in question_result[:per_scene].keys %>
  <% next if question_result_per_scene_key == :all %>
  <%= render :partial => 'result_question_per_scene', :locals => {:has_correct_answer => question_result[:question_has_correct_answer], :key => question_result_per_scene_key, :question_result_per_scene => question_result[:per_scene][question_result_per_scene_key]} %>
  <% end %>
  <%= render :partial => 'result_question_per_scene', :locals => {:has_correct_answer => question_result[:question_has_correct_answer], :key => :all, :question_result_per_scene => question_result[:per_scene][:all]} %>
</table>

<div>Antworten</div>


<% for question_result_per_scene_key in question_result[:per_scene].keys %>
<% next if question_result_per_scene_key == :all %>
<div>Bei Szene <%= Scene.find(question_result_per_scene_key).name %></div>
<% for participant_answer in question_result[:per_scene][question_result_per_scene_key][:participants_answers] %>
<div><%= participant_answer[:answer] %>
<% end %>

<% end %>

<% end %>







