<div class="row">
<div class="col-xs-6">
  <h4><%= t(:steps, scope: :experiments)%></h4>
  <%= form_for @experiment do |f| %>
  <div style="border:solid 1px green;padding:1em;margin-bottom:1em;">
	 <ol class="sortable vertical" style="min-height:24px;">
		<% for step in @experiment.steps %>
		  <li><a class="btn btn-primary disabled"><%= step.title %><%= hidden_field_tag 'experiment[step_ids][]', step.id, :multiple => true %></a></li>
		<% end %>
	 </ol>
  </div>
  
  <%= f.submit t(:save), :class => 'btn btn-primary' %> 
  <% end %>

</div>
</div>
