<div class="page-header">
    <h1><%= t('experiments.results'), :default => 'Auswertung' %></h1>
</div>

<h2><%= t('experiments.experiment_data') %></h2>



<div><%= t('experiments.step_count') %></div>
<div><%= @experiment_results[:number_of_steps] %></div>

<div><%= t('experiments.scene_count') %></div>
<div><%= @experiment_results[:number_of_scenes] %></div>

<div><%= t('experiments.participant_count') %></div>
<div><%= @experiment_results[:number_of_participants] %></div>

<h2><%= t('experiments.results_single_steps') %></h2>

<%  @experiment.experiment_steps.each_with_index do |experiment_step,index| %>

    <% if experiment_step.step.has_questions? or not(experiment_step.step.scenes.empty?) %>

        <h3><%= t('experiments.step_data') %> "<%= experiment_step.step.title %>"</h3>

        <%= render :partial => 'step_results', :locals => {:experiment_step => experiment_step} %>

    <% end %>

<% end %>

<%= link_to t('experiments.csv_results'), experiment_result_csv_path(@experiment), :class => 'btn btn-primary' %>
<%= link_to t('experiments.interaction_csv_results'), experiment_result_interaction_csv_path(@experiment), :class => 'btn btn-primary' %>



