<%= form_for(@scene, :html => { :class => 'form' }) do |f| %>
  <div class="form-group">
	 <%= f.label t(:name, scope: :scenes) %>
    <%= f.text_field :name, :class => 'form-control text_field' %>
  </div>
  <div class="form-group">
	 <%= f.label t(:description, scope: :scenes) %>
    <%= f.text_field :description, :class => 'form-control text_field' %>
  </div>


  <div class="form-group">
	 <%= f.label t(:remarks, scope: :scenes) %>
    <%= f.text_area :remarks, :class => 'form-control tinymce' %>
  </div>

  <div class="form-group">
	 <%= f.label t(:mapping, scope: :scenes) %>
    <%= f.text_area :mapping, :class => 'form-control tinymce' %>
  </div>

  
  <div class="form-group">
	 <%= f.label t(:url, scope: :scenes) %>
    <%= f.text_field :url, :class => 'form-control text_field' %>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel), scenes_path, :class => 'btn btn-default' %>
  </div>
<% end %>
<%= tinymce %>
