<h3>This is the administrative part of the evaluation server</h3>

<h4><%= link_to "Experiments", experiments_path %></h4>
<h4><%= link_to "Scenes", scenes_path %></h4>
<h4><%= link_to "Tests", tests_path %></h4>
<h4><%= link_to "Scene tests", scene_tests_path %></h4>
<h4><%= link_to "Questions", questions_path %></h4>
<h4><%= link_to "Static Texts", texts_path %></h4>

