<h3><%= t('administration_text') %></h3>

<h4><%= link_to t('layout.experiments'), experiments_path %></h4>
<h4><%= link_to t('layout.scenes'), scenes_path %></h4>
<h4><%= link_to t('layout.tests'), tests_path %></h4>
<h4><%= link_to t('layout.scene_tests'), scene_tests_path %></h4>
<h4><%= link_to t('layout.questions'), questions_path %></h4>
<h4><%= link_to t('layout.static_texts'), texts_path %></h4>

