<div class="page-header">
  <h1><%= t(:assigner, scope: :assigners) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:id, scope: :assigners) %></th>
      <th><%= t(:name, scope: :assigners) %></th>
      <th><%= t(:description, scope: :assigners) %></th>
      <th><%= t(:created_at, scope: :assigners) %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
    <% @assigners.each do |assigner| %>
      <tr>
        <td><%= link_to assigner.id, assigner_path(assigner) %></td>
        <td><%= assigner.name %></td>
        <td><%= assigner.description %></td>
        <td><%=l assigner.created_at %></td>
        <td>
          <%= link_to t(:edit),
                      edit_assigner_path(assigner), :class => 'btn btn-default' %>
          <%= link_to t(:destroy),
                      assigner_path(assigner),
                      :method => :delete,
                      :data => { :confirm => t(:confirm) },
                      :class => 'btn btn-default btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t(:new),
            new_assigner_path,
            :class => 'btn btn-primary' %>
